<!DOCTYPE html>
  <html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <table align="center" bgcolor="#EFEEEA" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
    <tbody>
      <tr>
        <td align="center" valign="top" style="padding-bottom:60px">
          <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
              <tr>
                <td align="center" valign="top" bgcolor="#FFE01B" style="background-color:#242A37">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" style="max-width:640px" width="100%">
                    <tbody>
                      <tr>
                        <td align="center" valign="top" style="padding:40px">
                          <a href="http://localhost:8082/" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.mailchimp.com/&source=gmail&ust=1575467688295000&usg=AFQjCNGApbNgk_W4tQMsdAL45hz5-wzk3g">
                            <div class="image">
                              <%= image_tag('https://i.ibb.co/jkdLtNt/logo-dark.jpg') %>
                            </div>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td style="background-color:#ffffff;padding-top:40px">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="center" valign="top">
                  <table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" style ="background-color:#ffffff;max-width:640px" width="100%">
                    <tbody>
                    <tr>
                      <td align="center" valign="top" bgcolor="#FFFFFF" style="padding-right:40px;padding-bottom:40px;padding-left:40px">
                        <h1 style="color:#241c15;font-family:Georgia,Times,'Times New Roman',serif;font-size:30px;font-style:normal;font-weight:400;line-height:42px;letter-spacing:normal;margin:0;padding:0;text-align:center">
                          We're glad you're here,
                          <br>
                          <%= @identity.username %>
                        </h1>
                      </td>
                    </tr>
                    <tr>
                      <td align="center" valign="middle" style="padding-right:40px;padding-bottom:60px;padding-left:40px">
                        <table border="0" cellpadding="0" cellspacing="0">
                          <tbody>
                          <tr>
                            <td align="center" bgcolor="#E69505" style="border-radius: 0.85rem;">
                              <a style="border-radius:0.85rem;border:1px solid #E69505;color:#ffffff;display:inline-block;font-size:16px;font-family:'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;font-weight:400;letter-spacing:.3px;padding:20px;text-decoration:none" href="http://localhost:8082/confirm">Activate Account</a>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td align="center" valign="top" style="padding-right:40px;padding-bottom:40px;padding-left:40px">
                        <p style="color:#6a655f;font-family:'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;font-size:16px;font-style:normal;font-weight:400;line-height:42px;letter-spacing:normal;margin:0;padding:0;text-align:center">
                          (Just confirming you're you.)
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td align="center" valign="top" style="border-top:2px solid #efeeea;color:#6a655f;font-family:'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;font-size:12px;font-weight:400;line-height:24px;padding-top:40px;padding-bottom:40px;text-align:center">
                        <p style="color:#6a655f;font-family:'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;font-size:12px;font-weight:400;line-height:24px;padding:0 20px;margin:0;text-align:center">
                          © 2019
                          <span style=" background: #ffc;color: #222;">Placecase</span>
                          <sup>®</sup>
                          <br>
                          <a style="color:#6a655f;text-decoration:none">Kharkiv • Ukraine • Europe</a>
                        </p>
                          <a href="hhttp://localhost:8082/" style="color:#007c89;font-weight:500;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.mailchimp.com/contact/&source=gmail&ust=1575467688295000&usg=AFQjCNGU-_A9qITSvf8IeLUji4_KOdJfhw">
                            Contact Us
                          </a>
                          <span> &nbsp; • &nbsp;</span>
                          <a href="http://localhost:8082/" style="color:#007c89;font-weight:500;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://mailchimp.com/legal/terms/&source=gmail&ust=1575467688295000&usg=AFQjCNGq-N0MT7OIhdUULIHIuvdaK7rB6A">
                            Terms of Use
                          </a>
                          <span> &nbsp; • &nbsp;</span>
                          <a href="http://localhost:8082/" style="color:#007c89;font-weight:500;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://mailchimp.com/legal/terms/&source=gmail&ust=1575467688295000&usg=AFQjCNGq-N0MT7OIhdUULIHIuvdaK7rB6A">
                            Privacy Policy
                          </a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  </body>
</html>